@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0; margin: 0;
    font-family: 'Poppins', sans-serif;
}
h5{
    text-align: center;
}
h3{
    margin-top: 2vh;
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 3vh;
}
img{
    width: 50vw;
    margin-top: 3vh;
    margin-left: 25vw;
}
.imagem1{
    border: 10px solid black;
}
.imagem2{
    border: none;
}
p{
    width: 60vw;
    margin-left: 20vw;
    margin-top: 3vh;
}
.imgscontainer{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin-left:25vw;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
}
.item img{
    width: 100px;
    margin: auto;
    padding: 20px;
}
a{
    color: white;
    background-color: rgb(59, 59, 59);
    display: flex;
    text-decoration: none;
    padding-bottom: 2.5vh;
    margin-top: 6vh;
    transition-duration: 0.4s;
}
a:hover{
    background-color: rgb(39, 39, 39);
}
.github{
    margin-left: 5vw;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
a p{
    margin-left: 2vw;
    margin-top: 5vh;
}